/* ==========================================================================
   CSS specific to only the Bill
   ========================================================================== */
/* * { color: red; } */
.bill header {
  margin: 0 1.5em;
  text-align: center;
}
.bill header h1,
.bill header h2 {
  font-weight: 400;
}
.bill header h2 {  
  font-size: 1.4em;      /* 16.8px @ 1.6 * 12px; */
  line-height: 1.0714em; /* 18px @ 1.0714 * 16.8px */
  margin: 1.0714em 0;    /* 18px @ 1.0714px * 16.8px */
}

.preamble p {
  text-indent: 30%;
}
.amendment {
  clear: both;
}
.amendment h1 {
  float: left;
  width: 12em;
  font-weight: 400;
  font-size: 1.2em;    /* 14.4px @ 1.2 * 12px; */
  line-height: 1.25em; /* 18px @ 1.25 * 14.4px */
  margin: 0 0 2.5em 0;    /* 18px @ 1.25px * 14.4px */
  
    font-size: 1em;     /* 12px @ 1 * 12px; */
  line-height: 1.5em; /* 18px @ 1.5 * 12px */
  margin: 0 0 3em 0;    /* 18px @ 1.5px * 12px */
}
.amendment p {
  margin-left: 12em;
}