/*******************************************************************************
 * General & Typography
 */

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5em;
  font-family: Helvetica, "Helvetica Neue", Arial;
  text-rendering: optimizeLegibility;
}

pre {
  background-color: #EEEEEE;
  border: 1px solid #d1d5da;
  border-radius: 5px;
  padding: 0.75em;
}
code {
  display: inline-block;
  /* font-weight: bold; */
  background-color: #EEEEEE;
  border-radius: 3px;
  padding: 0 0.5em;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
  background-color: #fff;
  border-radius: none;
  padding: 0;

}

h1 {
  font-size: 2em;
  /* Sets the line height to 2 units of vertical rhythm */
  line-height: 1.5em; /* 3rem / 2em = 1.5em */
  /* Sets 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0.75em; /* 1.5rem / 2em = .75em */
  margin-bottom: 0.75em;
}

h2 {
  font-size: 1.5em;
  line-height: 2em; /* 3rem / 1.5em = 2em */
  margin-top: 1em; /* 1.5rem / 1.5em = 1em */
  margin-bottom: 1em;
}

h3 {
  font-size: 1.17em;
  line-height: 1.282em; /* 1.5rem / 1.17em = 1.282em */
  margin-top: 1.282em;
  margin-bottom: 1.282em;
}

h4 {
  font-size: 1em;
  line-height: 1.5em; /* 1.5rem / 1em = 1.5em */
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

h5 {
  font-size: 0.83em;
  line-height: 1.807em; /* 1.5rem / 0.83em = 1.807em */
  margin-top: 1.807em;
  margin-bottom: 1.807em;
}

h6 {
  font-size: 0.75em;
  line-height: 2em; /* 1.5rem / .75em = 2em */
  margin-top: 2em;
  margin-bottom: 2em;
}


@media print
{
    h1, h2, h3, h4, h5, h6, pre, div {
        page-break-inside: avoid;
    }
}

/*******************************************************************************
 * Lists
 */


dl,
menu,
ol,
ul {
    margin: 0;
}

dd {
    margin: 0 0 0 40px;
}

li {font-size: 1em; line-height: 1.5em;}

menu,
ol,
ul {
  padding: 0.25em 1em;
}


/*******************************************************************************
 * Site Title/Header/Nav
 */

.dropdown-header {
    font-size: 1em;
    font-size: 1.4rem;
    margin-left: -1rem;
}
.navbar-collapse {
  /*padding-left: 0px !important;
  padding-right: 0px !important;*/
}
.title-nav {
  /*border-bottom: 20px solid #e44d26;*/
  /*border-bottom: 5px solid #000000;*/
}
.title-nav h1 {
  font-family: "Monaco", "Lucida Console", "Consolas", "Lucida Sans Typewriter", Lucida, "Ubuntu Monospace", monospace;
  font-weight: 500;
}
.title-nav h1 a {
  color: #ffffff;
  font-size: 1.5em;
  font-size: 3rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
  text-shadow: 1px 1px 1px #000000,
              -1px 1px 1px #000000,
               1px -1px 1px #000000,
              -1px -1px 1px #000000;
}
.title-nav h1 strong {
  color: #000000;
  font-size: 3em;
  font-size: 6rem;
  margin-right: -1.25em;
  text-shadow: none;
  /*vertical-align: super;*/
}
.title-nav h1 a {
  text-decoration: none;
}
.title-nav .nav > li > a {
  padding: 15px 10px;
}
.title-nav .navbar-default,
.panel-default > .panel-heading {
  background-image: linear-gradient(to bottom, #FFF 0px, #FFEDA8 100%);
}


/*******************************************************************************
 * Aside
 */
aside.panel {
  padding-left: 0;
  padding-right: 0;
}

/*******************************************************************************
 * Forms
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 1em;
  padding: 1em;
}

legend {
  border: none;
  display: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0 0.5em;
  width: inherit;
}


/*******************************************************************************
 * Site Footer
 */
footer.site-footer {
  border-top: 1px solid #EEE;
  margin-top: 20px;
  padding: 20px 0;
}
footer.site-footer p {
  text-align: center;
}
